<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ExceptionHandlersGroupProject1.Properties.Settings.LoginAuthenticationDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\LoginAuthenticationDatabase.mdf;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="ExceptionHandlersGroupProject1.Properties.Settings.NBAStatsDBConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\NBAStatsDB.accdb"
            providerName="System.Data.OleDb" />
		<add name="AccessDB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\NBAStatsDB.accdb;" providerName="System.Data.OleDb" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>